body{
    background-color: antiquewhite;
}
.main-container{
    display: flex;
    flex-direction: column;
}
.user-name{
    color: black;
    font-weight: bold;
    font-size: 80px;
}
.logout h3{
    color: red;
    font-size: 30px;
    text-align: center;

}